# Server
NODE_ENV=production
PORT=5000

# MongoDB
MONGODB_URI=

# JWT
JWT_SECRET= <your_jwt_secret>
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=<your_jwt_refresh_secret>
JWT_REFRESH_EXPIRES_IN=30d

# Email (Nodemailer)
SMTP_HOST=<your_smtp_host>
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<your_smtp_user>
SMTP_PASS=<your_smtp_pass>
EMAIL_FROM_NAME=Smart Leads
EMAIL_FROM_ADDRESS=<your_email_address>

CLIENT_URL=<your_client_url>

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

# Bcrypt
BCRYPT_SALT_ROUNDS=12
