# Server
NODE_ENV=
PORT=

# MongoDB
MONGODB_URI=

# JWT
JWT_SECRET= <your_jwt_secret>
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=<your_jwt_refresh_secret>
JWT_REFRESH_EXPIRES_IN=

# Email (Nodemailer)
SMTP_HOST=<your_smtp_host>
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=<your_smtp_user>
SMTP_PASS=<your_smtp_pass>
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=<your_email_address>

CLIENT_URL=<your_client_url>

# Rate Limiting
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=

# Bcrypt
BCRYPT_SALT_ROUNDS=
